@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* main setup */
@plugin "daisyui/theme" {
  name: "light";
  default: "true";

  --color-background: var(--color-zinc-50);
  --color-base: var(--color-zinc-200);
  --color-base-50: color-mix(
    in oklab,
    var(--color-zinc-200) 50%,
    var(--color-zinc-300)
  );
  --color-base-100: color-mix(
    in oklab,
    var(--color-zinc-300) 70%,
    var(--color-zinc-400)
  );
  --color-base-200: color-mix(
    in oklab,
    var(--color-zinc-300) 40%,
    var(--color-zinc-400)
  );
  --color-base-300: var(--color-zinc-400);
  --color-base-content: black;
  --color-secondary-content: var(--color-gray-600);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --divider-m: 0;
  --depth: 0;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-background: color-mix(
    in oklab,
    var(--color-zinc-950) 80%,
    var(--color-zinc-900)
  );
  --color-base: var(--color-zinc-900);
  --color-base-50: color-mix(
    in oklab,
    var(--color-zinc-900) 20%,
    var(--color-zinc-800)
  );
  --color-base-100: color-mix(
    in oklab,
    var(--color-zinc-800) 50%,
    var(--color-zinc-700)
  );
  --color-base-200: var(--color-zinc-700);
  --color-base-300: var(--color-zinc-600);
  --color-base-content: white;
  --color-secondary-content: var(--color-gray-400);
  --color-shadow: rgba(0, 0, 0, 0.3);
  --divider-m: 0;
  --depth: 0;
}

@theme inline {
  --color-background: var(--color-background);
  --color-base: var(--color-base);
  --color-base-50: var(--color-base-50);
  --color-secondary-content: var(--color-secondary-content);
  --color-shadow: var(--color-shadow);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility bg {
  background-color: var(--color-background);
}
@utility shadow {
  box-shadow: 4px 4px 4px 0 var(--color-shadow);
}
@utility mono {
  font-family: var(--mono-font);
}

#app {
  @apply bg text-base-content fill-base-content
         w-screen h-screen overflow-hidden;

  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --mono-font: ui-monospace, monospace;
}

/* utility classes */
.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
.max-cols-grid {
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-column-gap));
  --grid-item-max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr)
  );
  grid-column-gap: var(--grid-column-gap);
}

.light-invert {
  @apply invert dark:filter-none;
}

.floating-menu {
  @apply bg-base-50 border-2 border-shadow shadow rounded-md;
}

/* patches */
.btn:not(.btn-ghost) {
  &:focus,
  &:focus-within {
    @apply border-black dark:border-white;
  }

  &.disabled,
  &.btn-disabled,
  &[disabled] {
    --btn-bg: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-200)),
      #000 7%
    );
    background-color: var(--btn-bg);
  }
}

.btn.btn-ghost {
  --btn-shadow: "";
  --btn-bg: #0000;
  --btn-border: #0000;
  --btn-noise: none;
  border: none;

  @apply hover:bg-shadow;
}

.btn,
.input {
  &:focus,
  &:focus-within {
    outline: none;
  }

  &:not(:focus),
  &:not(:focus-within) {
    border: none;
  }

  --icon-size: 1.5rem;
  &.btn-sm,
  &.input-sm {
    --icon-size: 1.2rem;
  }
  &.btn-xs,
  &.input-xs {
    --icon-size: 1rem;
  }

  .loading,
  img,
  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .loading {
    scale: 75%;
  }
}

.input {
  min-width: 3rem;
  max-width: 20rem;

  .loading,
  img,
  svg {
    margin-left: -6px;
  }
}

.divider {
  flex-grow: 0;
  flex-shrink: 0;
}

.dropdown {
  /* why doesn't this work on scroll? */
  position-try: flip-block, flip-inline;
  position-visibility: anchors-visible;
}

/* defaults */
button {
  cursor: pointer;
}
div {
  position: relative;
}

/* remove number input buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
