@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* main setup */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --size-field: 0.2rem;
  --divider-m: 0;
  --depth: 0;
}

@plugin "daisyui/theme" {
  name: "dark";

  --size-field: 0.2rem;
  --divider-m: 0;
  --depth: 0;
}

@theme inline {
  --color-background: var(--color-background);
  --color-base: var(--color-base);
  --color-base-50: var(--color-base-50);
  --color-secondary-content: var(--color-secondary-content);
  --color-shadow: var(--color-shadow);
}

@utility bg {
  background-color: var(--color-background);
}
@utility shadow {
  box-shadow: 4px 4px 4px 0 var(--color-shadow);
}

#app {
  @apply bg text-base-content fill-base-content
         flex flex-col items-stretch
         w-screen h-screen overflow-hidden;

  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --mono-font: ui-monospace, monospace;
}

/* utility classes */
@utility mono {
  font-family: var(--mono-font);
}

@utility w-input {
  width: max(3rem, min(20rem, 100%));
}

@utility input-exp {
  width: 20rem;
}

@utility center-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility floating-menu {
  @apply bg-base-50 border-2 border-shadow shadow rounded-md;
}

@utility gutter {
  scrollbar-gutter: stable;
}

/* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
.max-cols-grid {
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-column-gap));
  --grid-item-max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr)
  );
  grid-column-gap: var(--grid-column-gap);
}

/* patches */
@layer utilities {
  .btn:not(.btn-ghost) {
    &:focus,
    &:focus-within {
      border-color: var(--btn-fg);
    }

    &.disabled,
    &.btn-disabled,
    &[disabled] {
      --btn-bg: color-mix(
        in oklab,
        var(--btn-color, var(--color-base-200)),
        #000 7%
      );
      background-color: var(--btn-bg);
    }
  }

  .btn.btn-ghost {
    --btn-shadow: "";
    --btn-bg: #0000;
    --btn-border: #0000;
    --btn-noise: none;
    border: none;

    @apply hover:bg-shadow active:bg-shadow;
  }

  .btn,
  .input {
    &:focus,
    &:focus-within {
      outline: none;
    }

    &:not(:focus),
    &:not(:focus-within) {
      border-color: transparent;
    }

    &.disabled,
    &.btn-disabled,
    &[disabled] {
      cursor: default;
      &:active:not(.btn-active) {
        translate: 0;
      }
    }

    --icon-size: 1.2rem;
    --fontsize: 0.75rem;
    &.btn-lg,
    &.input-lg {
      --icon-size: 1.5rem;
      --fontsize: 0.875rem;
    }
    &.btn-sm,
    &.input-sm {
      --icon-size: 1rem;
      --fontsize: 0.6875rem;
    }
    &.btn-xs,
    &.input-xs {
      --icon-size: 0.8rem;
      --fontsize: 0.5rem;
    }

    .loading,
    img,
    svg {
      width: var(--icon-size);
      height: var(--icon-size);
    }

    .loading {
      scale: 75%;
    }
  }

  .input {
    min-width: 3rem;
    max-width: 20rem;

    font-size: var(--fontsize);

    &:focus,
    &:focus-within {
      border-color: var(--input-color);
    }
  }

  .divider {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .join {
    > .join-item {
      margin-inline-start: 0;
    }

    /* order matters */
    .join:first-child > .join-item:not(:first-child) {
      --join-ss: 0;
      --join-se: 0;
      --join-es: 0;
      --join-ee: 0;
    }

    .join:last-child > .join-item:not(:last-child) {
      --join-ss: 0;
      --join-se: 0;
      --join-es: 0;
      --join-ee: 0;
    }

    .join:first-child,
    .join:only-child {
      > .join-item:first-child {
        --join-ss: var(--radius-field);
        --join-se: 0;
        --join-es: var(--radius-field);
        --join-ee: 0;
      }
    }

    .join:last-child,
    .join:only-child {
      > .join-item:last-child {
        --join-ss: 0;
        --join-se: var(--radius-field);
        --join-es: 0;
        --join-ee: var(--radius-field);
      }
    }

    .join:only-child > .join-item:only-child {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

  .dropdown {
    /* why doesn't this work on scroll? */
    position-try: flip-block, flip-inline;
    position-visibility: anchors-visible;
  }
}

/* defaults */
button {
  cursor: pointer;
}

/* remove number input buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
